<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 >Discover what all the buzz is about!</h2>
                <!--<p>Our app is available on any mobile device! Download now to get started!</p>-->
                
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="device-container" style="margin-top:35px" >
                    <div class="device-mockup macbook_2015 silver">
                        <div class="device" >
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ibhdmEYvpYo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <!--
                    <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_aFo_BV-Uzasdfasdfasdf" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                    <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>-->

                <a href="#download" class="btn btn-outline btn-xl" style="margin-top:45px" >Download free!</a>
            </div>
        </div>
    </div>
</section>
