<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-3 col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/main_screen.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                1
                            </div>
                            <div class="project-name">
                                Main menu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/settings_screen.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2
                            </div>
                            <div class="project-name">
                                Change the settings
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/selection_screen.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                3
                            </div>
                            <div class="project-name">
                                Select your slime & game mode
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/play_screen.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                4
                            </div>
                            <div class="project-name">
                                Play!!!!!!!!!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
